<!-- author bio -->
<section class="author">
<!-- need to support multiple authors, but only iterate through author object if author is a known contributor -->
{% for author in page.author %}
	{% if site.data.contributors[author] %}
	<!-- author is a known contributor -->
		{% assign author-bio = site.data.contributors[author] %}
		{% if author-bio.avatar %}
		<img class="author__avatar" src="{{ site.url }}/assets/images/{{author-bio.avatar}}" height="24"/>
		{% endif %}
		
		{% if author-bio.website %}
		<a class="author__link" href="{{ author-bio.website }}">{{ author-bio.name }}</a>
		{% else %}
		<span class="author__name">{{author-bio.name}}</span>
		{% endif %}

		<span class="author__job-title">{{author-bio.job_title}}</span>
		
		{% if author-bio.mini_bio %}
		<p class="author__bio">{{ author-bio.mini_bio }}</p>
		{% endif %}
	{% else %}
	<!-- author is a guest contributor -->
	<img class="author__avatar" src="{{ site.url }}/assets/images/avatar-default.svg" height="24"/>
	{{ author }}
	{% endif %}
{% endfor %}

</section>
