<!-- featured topics -->
<aside class="featured-topics">
{% if include.authorCategories %}
	<h3 class="featured-topics__title">Author Topics</h3>
    <ul class="featured-topics__list">

	{% assign currAuthor = page.name %}
	{% assign authorCats_array = "" | split: "|"  %}
	{% assign authorPosts = site.posts | where: "author", currAuthor %}

	{% for post in authorPosts %}
	    {% assign authorCats_array = authorCats_array | push: post.categories %}
	{% endfor %}
	{% assign project_cats = authorCats_array | uniq %}

	{% for cat in project_cats %}
    	<li class="featured-topics__list-item"><a class="featured-topics__list-item__link" href="{{ site.url }}{{ site.baseurl }}/categories/#{{ cat | slugify }}">{{ cat | capitalize}}</a></li>
    {% endfor %}

    </ul>
{% else %}
	<h3 class="featured-topics__title">Featured Topics</h3>
    <ul class="featured-topics__list">

	        {% for cat in site.category %}
	        	<li class="featured-topics__list-item"><a class="featured-topics__list-item__link" href="{{ site.url }}{{ site.baseurl }}/category/{{ cat.name  | slugify }}">{{ cat.name | capitalize}}</a></li>
	        {% endfor %}

    </ul>
{% endif %}
    {% if include.showMoreLink %}
    <a class="featured-topics__view-all-link" href="{{ site.url }}{{ site.baseurl }}/categories/index.html">Explore All Topics</a>
    {% endif %}
</aside>
