<footer class="footer">
	<svg class="hbc-stripes-logo" xmlns="http://www.w3.org/2000/svg">
		<use class="hbc-stripe hbc-stripe--green" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.url }}{{ site.baseurl }}/assets/images/hbc-icons.svg#hbc-green" ></use>
		<use class="hbc-stripe hbc-stripe--red" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.url }}{{ site.baseurl }}/assets/images/hbc-icons.svg#hbc-red" ></use>
		<use class="hbc-stripe hbc-stripe--yellow" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.url }}{{ site.baseurl }}/assets/images/hbc-icons.svg#hbc-yellow" ></use>
		<use class="hbc-stripe hbc-stripe--blue" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.url }}{{ site.baseurl }}/assets/images/hbc-icons.svg#hbc-blue" ></use>
	</svg>
<!-- 	<svg class="arrow-box" xmlns="http://www.w3.org/2000/svg">
        <use class="arrow" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.url }}{{ site.baseurl }}/assets/images/hbc-icons.svg#arrow-box"></use>
    </svg> -->
	<section class="footer__links">
		{% include social-links.html %}
		<ul class="navigation navigation--footer">
			{% for link in site.data.navigation.footer-links %}
			  <li class="navigation__link-item"><a href="{{ site.url }}{{ site.baseurl }}/{{ link.url }}" class="navigation__link"><span class="navigation__link-highlight">{{ link.title }}</span></a></li>
			{% endfor %}
		</ul>
	<p class="copyright">&copy; {{ site.time | date: '%Y' }} {{ site.title }}</i></p>
	</section>
</footer>
