<header id="site-header" class="site-header {%if page.layout != "homepage" %} 
{% if page.layout == "article" or "article_listing" or "homepage" %} site-header--scaled{% endif %}{% endif %}">
	<a class="site-header__logo" href="{{ site.url }}{{ site.baseurl }}/">
<!-- 	    <svg class="hbc-tech-logo" xmlns="http://www.w3.org/2000/svg">
	        <use class="hbc-tech-logo__use" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.url }}{{ site.baseurl }}/assets/images/hbc-icons.svg#hbc-tech-logo" ></use>
	    </svg>
	    <svg class="est1670" xmlns="http://www.w3.org/2000/svg">
	        <use class="hbc-tech-logo__use" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.url }}{{ site.baseurl }}/assets/images/hbc-icons.svg#est1670" ></use>
	    </svg> -->
	<svg class="hbc-stripes-logo" xmlns="http://www.w3.org/2000/svg">
		<use class="hbc-stripe hbc-stripe--green" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.url }}{{ site.baseurl }}/assets/images/hbc-tech-logo-primary.svg#hbc-green" ></use>
		<use class="hbc-stripe hbc-stripe--red" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.url }}{{ site.baseurl }}/assets/images/hbc-tech-logo-primary.svg#hbc-red" ></use>
		<use class="hbc-stripe hbc-stripe--yellow" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.url }}{{ site.baseurl }}/assets/images/hbc-tech-logo-primary.svg#hbc-yellow" ></use>
		<use class="hbc-stripe hbc-stripe--blue" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.url }}{{ site.baseurl }}/assets/images/hbc-tech-logo-primary.svg#hbc-blue" ></use>
        <use class="hbc-stripes-logo--text" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.url }}{{ site.baseurl }}/assets/images/hbc-tech-logo-primary.svg#text" ></use>
    </svg>
	</a>
	<p class="sticky-nav-meta">
        {% for cat in site.category %}
            {% if cat.name == page.categories.first %}
                {% assign featureCategory = cat.name %}
            {% endif %}
        {% endfor %}

        {% if featureCategory %}
        <a href="{{ site.url }}{{ site.baseurl }}/category/{{ featureCategory }}" class="meta__category">{{ featureCategory }}</a>
        {% else %}
        <a href="{{ site.url }}{{ site.baseurl }}/categories/#{{ page.categories }}" class="meta__category">{{ page.categories.first }}</a>
        {% endif %}

        {% if page.layout == 'article' %}
        	<span class="meta__title">{{ page.title }}</span>
        {% elsif page.url contains '/category/' %}
        	<span class="meta__title">{{ page.title }}</span>
        {% elsif page.url == '/categories/' %}
	        <span class="meta__title">All Posts By Category</span>
        {% elsif page.url contains '/authors/' %}
        	<a href="{{ site.url }}{{ site.baseurl }}/authors/" class="meta__category">Authors</a>
        	<span class="meta__title">{{page.name}}</span>
        {% endif %}
    </p>
	<ul class="navigation">
		{% assign currentPage = page.url | replace: "/", "" %}
		{% for link in site.data.navigation.header-links %}
		  <li class="navigation__link-item">
		  	<a href="{{ site.url }}{{ site.baseurl }}/{{ link.url }}" class="navigation__link {% if currentPage == link.url %}navigation__link--current{% endif %}">
		  		<span class="navigation__link-highlight">{{ link.title }}</span>
		  	</a>
		  </li>
		{% endfor %}
	</ul>
</header>
