<header id="site-header" class="site-header" >
	<a class="site-header__logo" href="{{ site.url }}{{ site.baseurl }}/">
		<svg class="hbc-tech-logo" xmlns="http://www.w3.org/2000/svg">
	        <use class="hbc-tech-logo__hbc" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.url }}{{ site.baseurl }}/assets/images/hbc-tech-beta.svg#hbc" ></use>
	        <use class="hbc-tech-logo__beaver" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.url }}{{ site.baseurl }}/assets/images/hbc-tech-beta.svg#beaver" ></use>
	        <use class="hbc-tech-logo__tech" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.url }}{{ site.baseurl }}/assets/images/hbc-tech-beta.svg#tech" ></use>
	        <use class="hbc-tech-logo__beta" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.url }}{{ site.baseurl }}/assets/images/hbc-tech-beta.svg#beta" ></use>
	    </svg>
	</a>
	<p class="sticky-nav-title">{{ page.title }}</p>
	<ul class="navigation">
		{% assign currentPage = page.url | replace: "/", "" %}
		{% for link in site.data.navigation.header-links %}
		  <li class="navigation__link-item">
		  	<a href="{{ site.url }}{{ site.baseurl }}/{{ link.url }}" class="navigation__link {% if currentPage == link.url %}navigation__link--current{% endif %}">
		  		<span class="navigation__link-highlight">{{ link.title }}</span>
		  	</a>
		  </li>
		{% endfor %}
	</ul>
</header>
