<header id="site-header" class="site-header">
    <div class="site-header__inner">
    	<a class="site-header__logo" href="/">
        	<svg class="hbc-tech-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 52">
        		<use class="hbc-tech-logo__text" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.url }}{{ site.baseurl }}/assets/images/hbc-icons.svg#hbc-tech-logo"></use>
            </svg>
    	</a>
        {% include navigation.html %}
        {% include header-search.html %}
    </div>
</header>
