<aside class="recirc">
    <h2 class="header__title">Recent Insights</h2>
    <a class="header__view-all-link" href="{{ site.url }}{{ site.baseurl }}/categories/index.html">See All</a>
    <div class="recirc__articles">
    {% assign counter = 0 %}
    {% assign maxPosts = 4 %}
    {% assign authorPosts = site.posts | where: "author", page.author %}
    {% assign relatedPosts = site.posts | where: "categories", page.categories.first %}
    {% assign recentPosts = site.posts %}
    {% assign recirc = authorPosts | concat: relatedPosts | concat: recentPosts %}

    {% for post in recirc %}
        {% if counter < maxPosts and post.title != page.title %}
            {% assign counter=counter | plus:1 %}
        <article class="recirc__articles__item">
            {% include article-snippet.html excerpt=true %}
        </article>
        {% endif %}
    {% endfor %}
    </div>
</aside>