<ul class="social-links social-links__list">
    <li class="social-links__list-item">
        <a class="social-links__link" rel="next" href="#">
            <svg class="social-links__icon" xmlns="http://www.w3.org/2000/svg">
                <use class="linkedin"  xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.url }}{{ site.baseurl }}/assets/images/hbc-icons.svg#linkedin"></use>
            </svg>
        </a>
    </li>
    <li class="social-links__list-item">
        <a class="social-links__link" rel="next" href="#">
            <svg class="social-links__icon" xmlns="http://www.w3.org/2000/svg">
                <use class="twitter"  xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.url }}{{ site.baseurl }}/assets/images/hbc-icons.svg#twitter"></use>
            </svg>
        </a>
    </li>
    <li class="social-links__list-item">
        <a class="social-links__link" rel="next" href="#">
            <svg class="social-links__icon" xmlns="http://www.w3.org/2000/svg">
                <use class="instagram"  xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.url }}{{ site.baseurl }}/assets/images/hbc-icons.svg#instagram"></use>
            </svg>
        </a>
    </li>
</ul>
