// insights page
.article-listing {

	&__featured {
		// border-bottom: solid 1px $hbc-border;
		padding-bottom: 80px;

		// these are overrides. defaults are set in _article-snippet.scss
		.snippet {
		    min-height: 45vh;
		    height: 75vh;
		    max-height: 589px;
			padding: 40px 40px 0 40px;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: flex-end;

			&__title {
				margin: 0 0 40px 0;
				font-size: 55px;
				width: 70%;
			}

			&__link {
				padding: 0 10px 0 10px;
			    box-decoration-break: clone;
			    background-color: white;
			}

			&__meta {
			    padding: 0 10px;
			    width: fit-content;
				background-color: $hbc-white;
			}
		}
	}

	&__sub-featured {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: minmax(100px, auto);
		border-bottom: solid 1px $hbc-border;
		padding-bottom: 80px;
		margin-bottom: 40px;

		.snippet {
			padding: 20px 40px;

			&:first-child {
				border-right: solid 1px $hbc-border;
			}	

			&:last-child {
				padding-right: 0;
				padding-left: 40px;
			}
		}	
	}

	&__remaining  {
		display: grid;
		grid-template-columns: 30% 70%;
		grid-auto-rows: minmax(100px, auto);
	    grid-template-areas:
	    "ft art"
	    "ft art"
	    "ft art"
	    ;
		align-items: start;
		padding: 40px 0 40px 0;

		.featured-topics {
			grid-area: ft;
			border-right: solid 1px $hbc-border;
			margin-right: 40px;
			margin-left: 40px;
			position: sticky;
			top: 100px;
			display: flex;
		    flex-direction: column;
		    height: 100%;

			&__title {
				padding-right: 20px;
				margin: 0 0 15px 0;
			    font-weight: 500;
			}

			&__list {
				list-style: none;
			    padding: 0 20px 0 0;
			    margin: 0;
			}

			&__list-item {
			    margin: 10px 0 20px 0;
			}

			&__list-item__link {
				text-decoration: none;
				text-transform: uppercase;
				color: $hbc-gray-2;

				@include special-text-link();

			}
		}

		.snippet {
			grid-area: art;
			padding: 10px 0 40px 0px;
			grid-row: auto;
			border-bottom: solid 1px $hbc-border;
			margin-bottom: 40px;	

			&:first-of-type {	
				padding-top: 0;
				margin-top: -5px;
			}

			&:last-child {
				border-bottom: solid 0px $hbc-border;
			}
		}

	}

	@media screen and (max-width: $breakpoint-medium) {
		max-width: 100vw;

		&__featured,
		&__sub-featured,
		&__remaining {
		    display: flex;
		    flex-direction: column;
			border: 0;
			margin-bottom: 0;
		}

		&__featured {
	        padding: 0 0 20px 0;

			.snippet {
				border: 0;
			    height: 40vh;
			    min-height: 25vh;
			    max-height: 50vh;
			    padding: 0;
			    margin-top: 0;
			    margin-bottom: 20px;

				&__title {
					margin: 0px 0 20px 20px;
				    font-size: 35px;
				}

				&__meta {
					margin-left: 20px;
				}
			}
		}

		&__sub-featured {
		    padding: 0 20px;

			.snippet {
				padding: 20px 0;
			    margin-bottom: 20px;
			    border-bottom: solid 1px $hbc-border;

			    &:first-child {
					padding-top: 40px;
				    border-top: solid 1px $hbc-border;
			    }

				&:first-child,
				&:last-child {
				    border-right: 0;
				    margin-left: 0px;
				    margin-top: 0px;
				    padding-left: 0px;
				}
			}

			&__excerpt {
				display: none;
			}
		}

		&__remaining  {
		    padding: 0 20px;

			.snippet {
				padding: 20px 0;
			    margin-bottom: 20px;

			    &:first-of-type {
					padding-top: 20px;
			    }
				
				&:last-child {
					padding-bottom: 0;
				}
			}

		    .featured-topics {
				order: 2;
				width: 100%;
				padding: 0 0 20px 0;
				border-right: solid 0 $hbc-border;
				border-top: solid 1px $hbc-border;
				margin: 0;
		    }
		}	
	}
}

