.snippet {
	position: relative;
	display: flex;
    flex-direction: column;

	@media screen and (min-width: $breakpoint-medium) {

		top: 200px;
		opacity: 0;

		&--reveal {
			animation-name: reveal-article;
			animation-duration: .8s;
			animation-timing-function: cubic-bezier(0.000, 0.980, 0.655, 0.995); 
			animation-direction: normal;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
		}
	}
	

	&__feature-image {
		margin-bottom: 20px;
	}
	
	&__title {
		margin: 0 0 10px 0;
		line-height: 120%;
		font-weight: 400;

		&__link {
			text-decoration: none;
			color: $hbc-black;
			
			&:hover {
				color: $hbc-highlight;
			}
		}
	}

	&__meta {

		.meta {

			&__day,
			&__month,
			&__year {
				display: none;
			}

			&__category-link {
				color: $hbc-highlight;
				text-transform: uppercase;
			    font-size: 15px;
			    font-weight: 300;

				@include special-text-link();

			}

			&__author {
				color: $hbc-gray;
			}

			&__author-link {
				text-decoration: none;
				color: $hbc-highlight;
				font-weight: 300;

				@include special-text-link();
			}

			&__author-job-title {
				color: $hbc-gray;				
			}
		}

	}

	&__excerpt {
		margin: 10px 0 0 0;
	
		&__link {
			text-decoration: none;
			color: $hbc-black;
		}
	}
}
