// insights page
.article-listing {

	&__featured {
		// border-bottom: solid 1px #ccc;
		padding-bottom: 80px;

		// these are overrides. defaults are set in _article-snippet.scss
		.snippet {
			min-height: 45vh;
			padding: 40px 40px 0 40px;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: flex-end;

			&__title {
				margin: 0 0 40px 0;
				font-size: 55px;
				width: 70%;
			}

			&__link {
				padding: 0 10px 0 10px;
			    box-decoration-break: clone;
			    background-color: white;
			}

			&__meta {
			    padding: 0 10px;
			    width: fit-content;
				background-color: $hbc-white;
			}
		}
	}

	&__sub-featured {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: minmax(100px, auto);
		border-bottom: solid 1px #ccc;
		padding-bottom: 80px;
		margin-bottom: 40px;

		.snippet {
			padding: 20px 40px;

			&:first-child {
				border-right: solid 1px #ccc;
			}	

			&:last-child {
				padding-right: 0;
				padding-left: 40px;
			}
		}	
	}

	&__remaining  {
		display: grid;
		grid-template-columns: 25% 75%;
		grid-auto-rows: minmax(100px, auto);
	    grid-template-areas:
	    "ft art"
	    "ft art"
	    "ft art"
	    ;
		align-items: start;
		border-bottom: solid 1px #ccc;
		padding: 40px 0 40px 0;

		.featured-topics {
			grid-area: ft;
			border-right: solid 1px #ccc;
			margin-right: 40px;
			margin-left: 40px;
			position: sticky;
			top: 100px;

			&__title {
				padding-right: 20px;
				margin: 0 0 15px 0;
			}
		}

		.snippet {
			grid-area: art;
			padding: 10px 0 40px 20px;
			grid-row: auto;
			border-bottom: solid 1px #ccc;
			margin-bottom: 40px;	

			&:first-of-type {	
				padding-top: 0;
			}

			&:last-child {
				border-bottom: solid 0px #ccc;
			}
		}

	}

	@media screen and (max-width: $breakpoint-medium) {
		padding: 10px;

		&__sub-featured {
			grid-template-columns: 1fr;
			padding: 0;

			.snippet {
				border: solid 0px #ccc;
				border-bottom: solid 1px #ccc;
				padding: 40px 0;

				&:first-child {
					border-right: solid 0px #ccc;
				}	

				&:last-child {
					border: 0px;
					margin-left: 0px;
					margin-top: 0px;
					padding-left: 0px;
				}
			}
		}		
	}
}
