.snippet {
	position: relative;

	@media screen and (min-width: $breakpoint-medium) {

		top: 200px;
		opacity: 0;

		&--reveal {
			animation-name: reveal-article;
			animation-duration: .8s;
			animation-timing-function: cubic-bezier(0.000, 0.980, 0.655, 0.995); 
			animation-direction: normal;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
		}
	}
	

	&__feature-image {
		margin-bottom: 20px;
	}
	
	&__title {
		margin: 0 0 10px 0;
		line-height: 120%;
	}

	&__link {
		text-decoration: none;
		color: $hbc-black;


		&:hover {
			color: $hbc-highlight;
			text-decoration: none;
		}
	}

	&__meta {

		.meta {

			&__day,
			&__month,
			&__year {
				display: none;
			}

			&__category-link {
				color: $hbc-highlight;
				text-transform: uppercase;
				text-decoration: none;
			    font-size: 15px;

				&:after {
					display: inline-block;
					position: relative;
					content: "";
					height: 20px;
					top: 5px;
					border-right: solid 1px $hbc-border;
					margin-left: 10px;
					margin-right: 10px;
				}

				&:hover {
					text-decoration: underline;
				}
			}

			&__author-link {
				text-decoration: none;
				color: $hbc-highlight;

				&:hover {
					text-decoration: underline;
				}
			}

			&__author-job-title {
				color: $hbc-gray;				
			}
		}

	}

	&__excerpt {

	}

}
