.article {
	max-width: 1080px;
	margin: auto;

	.feature-image {
		position: absolute;
		left: 0;
		width: 100vw;
		height: 413px;
		margin-top: -200px;
		z-index: -1;
	}

	.article-category {
		text-transform: uppercase;
		text-decoration: none;
		color: $hbc-highlight;

		&:after {
			display: inline-block;
			position: relative;
			content: "";
			height: 20px;
			top: 5px;
			border-right: solid 1px $hbc-border;
			margin-left: 10px;
			margin-right: 10px;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	.article-date {
		color: $hbc-gray;
	}

	.article-title {
		font-size: 72px;
	    line-height: 120%;
	    margin: 20px 0 0 -5px;
	    pointer-events: none;
	}
	

	&__content {
		padding: 60px;
		margin-top: 200px;
		background-color: $hbc-white;

		p {
			max-width: 820px;
		}
	}
}
