.author-bio {
	vertical-align: top;
	color: $hbc-gray-2;
	font-size: 18px;
	text-decoration: none;
}
.author {
	&__avatar {
		margin-right: 5px;
		vertical-align: bottom;

		.hbc-svg-icon {
			&--avatar__circle {
				fill: #ccc;
			}

			&--avatar__body,
			&--avatar__head {
				fill: #fff;
			}
		}
	}

	&__link {
		color: $hbc-highlight;
		vertical-align: super;
	    top: -2px;
	    position: relative;

		@include special-text-link();
	}

	&__name {
		color: $hbc-black;
		vertical-align: super;
	    top: -2px;
	    position: relative;
	}
	
	&__job-title {
		font-size: 18px;
		vertical-align: super;
	}

	&__bio {
		font-size: 16px;
		color: $hbc-gray-2;
	}
}
