.footer {
    grid-area: ft;
	color: lighten($hbc-black, 50%);
	background-color: $hbc-black;
	padding: 20px;
	border-top: solid 1px lighten($hbc-black, 20%);

	.copyright {
		float: left;
		margin: 20px;
		padding: 10px;
		font-size: 16px;
	}
}
