.footer {
    grid-area: ft;
	color: lighten($hbc-black, 50%);
	padding: 40px 5vw;
	border-top: solid 1px $hbc-border;
	display: flex;
	position: relative;

	.copyright {
		text-align: right;
		font-size: 14px;
		width: 100%;
	}

	&__links {
		display: flex;
	    flex-direction: row-reverse;
	    flex-wrap: wrap;
	    width: 100%;
	}

	.hbc-stripes-logo {
		height: 30px;
		width: 130px;

		.hbc-stripe {

			&--green {
				fill: $hbc-green;
			}

			&--red {
				fill: $hbc-red;
			}

			&--yellow {
				fill: $hbc-yellow;
			}

			&--blue {
				fill: $hbc-blue;
			}
		}
	}

	.hbc-tech-logo {
		fill-opacity: 0.4;
		position: absolute;
		fill: $hbc-border;
		width: 390px;
		bottom: 0;
		height: 480px;
		left: 0;
		transform: rotate(-4deg);
	    
	}

	.est1670 {
	    fill-opacity: 1;
	    position: absolute;
	    top: -10px;
	    left: -1vw;
		fill: $hbc-border;
	    width: 420px;
	    transform: rotate(-2deg);
	    padding: 0;

	}

	@media screen and (max-width: $breakpoint-small) {

		.copyright {
			text-align: center;
		}

		&__links {
			display: block;
			text-align: center;
		}

		.est1670 {
		    display: none;
		}
	}

}

