.header-search {
	grid-area: search;
    display: inline-flex;
    height: 36px;
	width: 100%;
    align-self: center;
    align-items: center;
    justify-self: end;

	&__form {
		width: 100%;
	    transition: width 200ms ease-out;
	}

	&__input {
		justify-self: end;
	    width: 0px;
	    height: 36px;
	    border: 0;
	    border-radius: 0;
	    padding: 0;
	    border-bottom: solid 1px $hbc-highlight;
	    background-color: transparent;
	    transition: width 200ms ease-out;

	    &:focus {
			outline: none;
	    }
	}

    &__svg {
    	height: 26px;
		fill: white;

    	&__icon {
    		height: 100%;
    		width: 100%;
    	}

    	&:hover {
    		fill: $hbc-highlight;
    		cursor: pointer;
    	}
    }


	&__results {
		display: none;
	    position: absolute;
	    right: 0;
	    left: 0;
	    top: 50px;
	    padding-top: 40px;

	    .snippet {
    		border-bottom: solid 1px $hbc-border;
		    padding: 20px 20px;
		    top: 0;
		    max-width: $content-width;
		    margin: auto;
		    background-color: white;

		    &:last-child {
		    	border: 0;
		    }

		    &__meta {
		    	height: 28px;
		    }

		    &__title {
				margin: 0 0 5px 0;
				@include render-type-style(subhead-1, $type-styles);
		    }

		    &__excerpt {
		    	display: none;
		    	margin: 0;
		    }

		    .meta__category-link {
		    	font-size: 15px;
		    }

		    .meta__date {
		    	color: $hbc-gray;
			    @include render-type-style(slug-2, $type-styles);
		    }
	    }

	    &--active {
		    background-color: white;
		    height: 100vh;
		    width: 100vw;
		    transform: translateX(-50%);
		    left: 50%;	    	
	    }
	}

    &--active {
		background-color: black;

		.header-search__results {
			display: block;
		}

		.header-search__form {
			display: grid;
			width: 100%;

			.header-search__input {
				width: calc(100% - 10px);
			    margin-right: 0px;
			    color: white;
			}
		}

		//hide menu items when search opens
		.link-list__link-item {
		    transform: scale(0) !important;
		}
    }

	@include media('>=medium') {
		
		.header-search__form {
			width: 0%;
		}

	    &--active {
		    z-index: 1;

			.header-search__form {
				position: absolute;
		        right: 60px;
			    width: calc(100% - 165px);
	    
				.header-search__input {
				    width: calc(100% - 30px);
				}
			}
	    }
    }
}
