.site-header {
    grid-area: hd;
    height: 125px;
	background-color: $hbc-off-white;
	color: $hbc-black;
    position: sticky;
    top: 0;
    z-index: 100;
	-webkit-backface-visibility: hidden; /* add to fix webkit bug jitter */
	-webkit-transform: perspective(1000px); /* add to fix webkit bug jitter */
    transition: all 200ms ease-out;

	&__logo {
	    display: inline-block;
	    margin: 20px 0 20px 30px;
	    transition: all 200ms ease-out;

		.hbc-tech-logo {
		    width: 210px;
		    height: 50px;
		}

		.hbc-tech-logo__hbc,
		.hbc-tech-logo__tech {
		    transition: transform 200ms ease-out;
		    transform-origin: 0% 60%;
		}

		&--scaled {
			margin: 10px 0 10px -50px;
		    width: 160px;
			// transform: scale(0.8);

			.hbc-tech-logo__hbc,
			.hbc-tech-logo__tech {
				transform: scale(0);
			}

			.hbc-tech-logo__hbc {
			    transform-origin: 100% 60%;
			}
		}
	}

	.sticky-nav-title {
		display: inline-block;
	    position: relative;
	    top: -20px;
	    opacity: 0;
		transition: opacity 200ms ease-in;

	    &--show {
	    	opacity: 1;
	    }
	}

    @media screen and (max-width: 1000px) {
		.hbc-tech-logo {
		    width: 140px;
		    height: 50px;
		}
    }
}
