.navigation {
    display: flex;
    float: right;
    width: 350px;
    margin: 30px 30px 0 0;
    padding: 0;
    -webkit-backface-visibility: hidden; /* add to fix webkit bug jitter */
    -webkit-transform: perspective(1000px); /* add to fix webkit bug jitter */
    transition: margin 200ms ease-out;
    
    &__link-item {
	    flex-grow: 2;
        list-style: none;
        text-align: center;
        height: 36px;

        &:first-child {
            flex-grow: 1;
            text-align: left;
        }

        &:last-child {
            flex-grow: 1;
            text-align: right;
        }
    }

    &__link {
        display: block;
        line-height: 120%;
		color: $hbc-black;
		text-decoration: none;

        &:hover,
        &--current:hover {
            color: $hbc-highlight;
            cursor: pointer;
            
            .navigation__link-highlight {

                &:after {
                    border-bottom: solid 2px $hbc-highlight;
                    transform: scaleX(1);
                }
            }
        }

        &--current {
            color: $hbc-black;
            
            .navigation__link-highlight {

                &:after {
                    border-bottom: solid 2px $hbc-black;
                    transform: scaleX(1);
                }
            }

        }
    }

    &__link-highlight {
        display: inline-block;
        height: 36px;
        padding: 10px 0;
		transition: color 0ms ease-out;

        &:after {
            content: "";
            display: block;
            margin-top: 4px;
            border-bottom: solid 2px $hbc-highlight;
            transform: scaleX(0);
            transform-origin: 0 0;
            transition: transform 150ms ease-out;
        }
	}

    &--footer {
        position: relative;
        margin: 20px;

        .navigation__link {
            color: white;

            &:hover {
                color: $hbc-highlight;
                cursor: pointer;
                
                .navigation__link-highlight {

                    &:after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }

    @media screen and (max-width: $breakpoint-medium) {
        float: none;
        width: 90%;
        margin: 0 auto 20px auto;

    }
}

.site-header--scaled {
    .navigation {
        margin: 13px 30px 0 0;
    }
}


