.navigation {
    display: flex;
    float: right;
    width: 350px;
    margin-top: 30px;
    margin-right: 30px;
    padding: 0;
    
    
    &__link-item {
	    flex-grow: 2;
        list-style: none;
        text-align: center;
        height: 36px;

        &:first-child {
            flex-grow: 1;
            text-align: left;
        }

        &:last-child {
            flex-grow: 1;
            text-align: right;
        }
    }

    &__link {
        display: block;
        line-height: 120%;
		color: $hbc-black;
		text-decoration: none;

        &:hover {
            color: $hbc-highlight;
            cursor: pointer;
            
            .navigation__link-highlight {

                &:after {
                    transform: scaleX(1);
                }
            }

        }
    }

    &__link-highlight {
        display: inline-block;
        height: 36px;
        padding: 10px 0;
		transition: color 0ms ease-out;

        &:after {
            content: "";
            display: block;
            margin-top: 4px;
            border-bottom: solid 2px $hbc-highlight;
            transform: scaleX(0);
            transform-origin: 0 0;
            transition: transform 150ms ease-out;
        }
	}

    &--footer {
        position: relative;
        margin: 20px;

        .navigation__link {
            color: white;

            &:hover {
                color: $hbc-highlight;
                cursor: pointer;
                
                .navigation__link-highlight {

                    &:after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        float: none;
        width: 95%;
        margin: 0 auto 20px auto;

    }
}


