.pagination {
    padding: 20px 0;
    text-align: right;
    border-top: solid 1px #ccc;
    margin-bottom: 40px;
    font-weight: 500;
    min-height: 100px;

	&__label {
		position: relative;
		top: -10px;
	}

	&__link {
		padding: 0 7px 0 7px;
		font-weight: 700;
		text-decoration: none;
		transition: all 200ms ease-out;
		position: relative;
		top: -10px;

	    &:last-child {
	    	padding-right: 0;
	    }

		.arrow-box {
	        fill: none;
	        overflow: visible;

		    .arrow {
		    	stroke: $hbc-highlight;
			    stroke-width: 1px;
			    transition: stroke-width 200ms ease-in;
		    }

		    .box {
		    	stroke: $hbc-highlight;
			    stroke-width: 1px;
		        stroke-dasharray: 116px;
		        stroke-dashoffset: 116px;
		    }
		}

		&:hover {
			padding-bottom: 5px;
			border-bottom: solid 3px $hbc-highlight;
		}

		&--prev {
    		.arrow-box {
		    	transform: rotate(180deg);
			    transform-origin: 50% 50%;
		    }
		}

		&--prev,
		&--next {
			top: 0;
			display: inline-block;

		    &:hover {
	    		padding-bottom: 0;
	    		border: 0;

	    		.arrow {
			    	stroke: $hbc-highlight;
				    stroke-width: 2.5px;
				    transition: stroke-width 200ms ease-in;
			    }

			    .box {
			    	stroke: $hbc-highlight;
				    animation-name: animate-stroke;
			    	animation-duration: 300ms;
			        // animation-timing-function: cubic-bezier(0.010, 1.000, 1.000, 1.000); 
			        animation-timing-function: none; 
					animation-direction: normal;
					animation-iteration-count: 1;
					animation-fill-mode: both;
		    	    transform: rotate(-180deg);
				    transform-origin: 50% 50%;
				    transition: transform 200ms ease-out;
			    }
			}
		}

		&--current {
			border-bottom: solid 3px $hbc-black;
			padding-bottom: 5px;

			&:hover {
				border-bottom: solid 3px $hbc-black;
			}
		}
	}
}
