.posts-listing {
	display: flex;
	flex-wrap: wrap;

	// default post styles
	&--featured,
	&--sub-featured,
	&--text-list {

		.post {
			margin-bottom: 30px;

			&__title,
			&__topic,
			&__excerpt,
			&__author {
				padding: 0 30px;
				margin: 0;
				font-weight: 300;

				&--link {
					text-decoration: none;
					color: $hbc-black;
				}
			}

			&__title {
				font-weight: 700;
				color: $hbc-black;
				line-height: 120%;
				margin: 10px 0;
			}

			&__topic {
				display: inline-block;
				background-color: $hbc-highlight;
				padding: 0 3px;
				margin-left: 30px;
				line-height: 19px;
				font-size: 16px;
			}

			&__author {
				margin: 20px 0;

			    &--link {
			    	position: relative;
				    top: -9px;
				}

				&:before {
					content: "";
					display: inline-block;
					background: url(/assets/images/avatar-default.svg) 0 0 / contain no-repeat;
					height: 30px;
					width: 30px;
					border: solid 1px $hbc-white;
					border-radius: 15px;
				}
			}
		}
	}


	&--featured {
		position: relative;

		.post {
			flex: 0;
			margin-bottom: 2px;
			
			.post__details-container {
				position: absolute;
				width: 100%;
				bottom: 0;
				color: white;
				background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
				padding-bottom: 30px;
			}

			&__title,
			&__topic,
			&__author,
			&__excerpt {
				color: $hbc-white;
				max-width: 1000px;

				&--link {
					color: white;
					text-decoration: none;
				}
			}

			&__topic {
				background-color: $hbc-white;

				&--link {
					color: black;
				}
			}
		}
	}

	&--sub-featured {
		display: flex;
		flex-wrap: wrap;

		.post {
			flex: 1;

			&:first-child {
				padding-right: 1px;
			}

			&:last-child {
				padding-left: 1px;
			}
		}
	}

	&--text-list {

		.post {
			flex: 100%;
		}
	}

}
