@keyframes reveal-article {
    to {
		opacity: 1;
		top: 0;
    }
}

@keyframes reveal-feature-image {
    to { 
        clip-path: polygon(0% 4vw, 100% 0%, 100% 100%, 0% 100%);
        box-shadow: inset 0px -250px 20000px 40px white;
    }
}

@keyframes reveal-feature-image--mobile {
    to {
        clip-path: polygon(0% 4vw, 100% 0%, 100% 100%, 0% 100%);
        box-shadow: inset 0px -50vh 20000px 40px white;
    }
}

@keyframes fade-in-and-up {
    from { 
        opacity: 0;
        transform: translateY(50px);
    }
    to { 
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in {
    to { 
        opacity: 1;
    }
}

@keyframes animate-stroke {
    from {
        stroke-dasharray: 116px;
        stroke-dashoffset: 116px;
        stroke-width: 1;
    }
    to {
        stroke-dasharray: 116px;
        stroke-dashoffset: 0px;
        stroke-width: 1px;
    }
}

// hbc-stripes
// $hbc-green: #00704a;
// $hbc-red: #b30838;
// $hbc-yellow: #eeb211;
// $hbc-blue: #00274c;
@keyframes color-animation {
    0% {
        background: $hbc-yellow;
    }
    33% {
        background: $hbc-red;
    }
    66% {
        background: $hbc-blue;
    }
    90% {
        background: $hbc-green;
    }
    100% {
        background: $hbc-yellow;
    }
}
