//colors
$hbc-black: #000000;
$hbc-white: #ffffff;
$hbc-highlight: #E94F3D;
$hbc-border: #ccc;
$hbc-gray: #777;


/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, ::before, ::after {
  box-sizing: inherit;
} 

img {
	max-width: 100%;
}

.center-image {
	display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.right-align {
	float: right;
	margin-left: 40px;
}

.left-align {
	float: left;
	margin-right: 40px;
}

.simple-border {
	display: inline-block;
	padding: 3px;
	border: solid 1px #ccc;
}
