//colors
$hbc-black: #4A4A4A;
$hbc-white: #ffffff;
$hbc-off-white: #ffffff; // possibly #EFE7DF
$hbc-highlight: #f15d3b;
$hbc-border: darken(rgba($hbc-highlight, 0.12), 35%);
$hbc-border-2: #eceaea;
$hbc-gray-5: #fafafa;
$hbc-gray: #777;
$hbc-gray-2: #999;
$hbc-gray-3: #4A4A4A;
$hbc-gray-4: #222;

// hbc-stripes
$hbc-green: #00704a;
$hbc-red: #b30838;
$hbc-yellow: #eeb211;
$hbc-blue: #00274c;

$hbc-colors: $hbc-green, $hbc-red, $hbc-yellow, $hbc-blue;

@mixin background-gradient() {
	background: linear-gradient(to bottom, #000000, lighten(#000000, 30%));
}
/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, ::before, ::after {
  box-sizing: inherit;
}

.slug-divider {
	display: inline-block;
	position: relative;
	height: 20px;
	top: 5px;
	border-right: solid 1px $hbc-border;
	margin-left: 10px;
	margin-right: 10px;
}
