//colors
$hbc-black: #000000;
$hbc-white: #ffffff;
$hbc-off-white: #ffffff; // possibly #EFE7DF
$hbc-highlight: #E94F3D;
$hbc-border: darken(rgba($hbc-highlight, 0.12), 35%);
$hbc-gray: #777;
$hbc-gray-2: #999;
$hbc-gray-3: #4A4A4A;

// hbc-stripes
$hbc-green: #00704a;
$hbc-red: #b30838;
$hbc-yellow: #eeb211;
$hbc-blue: #00274c;

$hbc-colors: $hbc-green, $hbc-red, $hbc-yellow, $hbc-blue;


/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

body {
	background-color: $hbc-off-white;
}
/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, ::before, ::after {
  box-sizing: inherit;
} 

img {
	max-width: 100%;
}
