
// A function whose call returns the value of a nested map.
@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}


@mixin render-type-style($type-styles-key, $type-styles-map) {
    font-size: map-deep-get($type-styles-map, $type-styles-key, font-size);
    font-family: map-deep-get($type-styles-map, $type-styles-key, font-family);
    font-weight: map-deep-get($type-styles-map, $type-styles-key, font-weight);
    font-style: map-deep-get($type-styles-map, $type-styles-key, font-style);
    text-transform: map-deep-get($type-styles-map, $type-styles-key, text-transform);
}


// a mixin that replaces the text-underline of a basic anchor link
// and replaces it with an animated border on hover.
@mixin special-text-link() {
	transition: margin-bottom 150ms ease-out, padding-bottom 150ms ease-out, color 150ms ease-out;
	margin-bottom: 2px;
	padding-bottom: 0px;
	border-bottom: solid 1px transparent;
	display: inline-block;
	text-decoration: none;
    line-height: 100%;

	&:hover {
		padding-bottom: 2px;
		margin-bottom: 0px;
		border-bottom: solid 1px $hbc-highlight;
		color: $hbc-highlight;
	}
}
