// Basic Layout
$site-width: 1280px;
$content-width: 1080px;
$sticky-header-height: 100px;
$sticky-header-offset: 125px;

// breakpoints
$breakpoint-small: 375px;
$breakpoint-medium: 767px;
$breakpoint-large: 1023px;
$breakpoints: (small: 320px, medium: 768px, large: 1024px, xlarge: 1440px);

.container {
	display: grid;
    grid-auto-rows: minmax(10px, auto);

	// desktop layout
	@media screen and (min-width: $breakpoint-large) {
		grid-template-columns: repeat(12, 1fr);
	    grid-template-areas: 
	      "hd hd hd hd   hd   hd   hd   hd   hd  hd   hd hd"
	      ". main main main main main main main main main main ."
	      "ft ft ft ft   ft   ft   ft   ft   ft   ft   ft   ft";
   	}

   	// tablet layout
	@media screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
	    grid-template-columns: 1fr;
	    grid-template-areas: "hd" "main" "ft";
	}

	// tablet landscape
	@media screen and (max-height: 768px) and (orientation: landscape) {
	    grid-template-columns: 1fr;
	    grid-template-areas: "hd" "main" "ft";
	}

	// mobile layout
    @media screen and (max-width: $breakpoint-medium) {
	    grid-template-columns: 1fr;
	    grid-template-areas: "hd" "main" "ft";
    }
}

.content {
    grid-area: main;
	display: grid;
	grid-template-columns: minmax(auto, $content-width);
    margin: auto;

	@media screen and (max-width: $breakpoint-medium) {
	    grid-template-columns: 1fr;
	}

	// tablet layout
	@media screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
		padding-right: 40px;
		padding-left: 40px;
	}
	// tablet landscape
	@media screen and (max-height: 768px) and (orientation: landscape) {
		padding-right: 40px;
		padding-left: 40px;
	}
	// mobile layout
    @media screen and (max-width: $breakpoint-medium) {
		padding-right: 20px;
		padding-left: 20px;
    }
}


.center-image {
	display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.right-align {
	float: right;
	margin-left: 20px;

	// center images on mobile
	@media screen and (max-width: $breakpoint-medium) {
		display: inline-block;
		float: none;
	    position: relative;
		margin-left: 0;
	}
}

.left-align {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: center;
	// center images on mobile
	@media screen and (max-width: $breakpoint-medium) {
		display: block;
		float: none;
		margin-right: 0;
	}
}

.simple-border {
	display: inline-block;
	padding: 3px;
	border: solid 1px #ccc;
	
	// center images on mobile
	@media screen and (max-width: $breakpoint-medium) {
		display: block;
	}
}

// prevent anchor links from being hidden behind sticky nav ;)
@media screen and (min-width: $breakpoint-medium) {

	:target:before {
		content: "";
		display: block;
		height: 90px; /* fixed header height*/
		margin: -90px 0 0; /* negative fixed header height */
	}

}

.page {
	padding-bottom: 80px;
	margin-bottom: 40px;
	min-height: 60vh;

	&__header {
		grid-area: header;
		width: 100%;
		margin-bottom: 40px;
		padding-bottom: 20px;
		border-bottom: solid 1px $hbc-border;
	}

	&__title {
		margin: 0;

		// mobile layout
	    @media screen and (max-width: $breakpoint-medium) {
			margin-top: 20px;
	    }
		// tablet landscape
		@media screen and (max-height: 768px) and (orientation: landscape) {
			margin-top: 20px;
	    }

	    // tablet layout
		@media screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) and (orientation: portrait) {
			margin-top: 20px;
		}
	}

	&__description {
		margin: 0;
	}
}

