// type styles for post content
.article__content__body {
	strong {
		font-weight: 700;
	}
	p a, 
	li a {
		line-height: 0;
		color: inherit;

		&:hover {
			color: $hbc-highlight;
		}
	}

	p ~ ul, p ~ ol {
		margin-bottom: 40px;
		@include media('<medium') {
			padding-left: 20px;
		}

		li {
			margin-bottom: 10px;
		}
	}

    p, 
	li,
	p ~ ul,
	p ~ ol {
		font-size: 18px;
		font-family: $hbc-font-family-02;
		font-weight: 300;
		overflow-wrap: break-word;
	}

	p a, 
	li a {
		text-decoration: none;
	    border-bottom: solid 1px #bbb;

		&:hover {
			color: $hbc-highlight;
			border-color: $hbc-highlight;
		}
	}

	img {
	    max-height: $content-width/2;
	    max-width: 100%;
	}

	code {
		font-size: inherit;
	}

	.highlight {
		code {
			line-height: 1.5;
			font-size: 18px;
		}
	}

	blockquote {
		font-style: italic;
		font-size: 22px;
		color: $hbc-gray;
		margin: 0 $content-side-margins;
		padding: 0 $content-side-margins;
		padding-bottom: $content-side-margins;
		border-left: dotted 2px $hbc-border;

		@include media('<medium') {
			margin: 0;
			border-left: 0;

			&:first-of-type {
				border-top: dotted 2px $hbc-border;
			}

			&:last-of-type {
				border-bottom: dotted 2px $hbc-border;
			}
		}

		&:first-of-type {
			padding-top: $content-side-margins;
			margin-top: $content-side-margins-large;
		}

		// incase we have multiple blockquotes next to each other,
		// we are only style the first and the last.

		&:last-of-type {
			// border-bottom: dotted 2px $hbc-border;
			margin-bottom: $content-side-margins;
		}

		p {
			margin: 0;
			color: $hbc-gray-3;
			@include render-type-style(base, $type-styles);
			font-size: 22px;
			font-style: italic;
		}

		ul, ol {
			padding-left: 20px;
			margin-top: 0;

			li {
				margin-bottom: 20px;
			}
		}
	}

	.center-image {
	    display: flex;
		max-width: 100%;
	    margin: auto;
	}

	.right-align {
		float: right;
		margin-left: 20px;

		// center images on mobile
		@include media('<medium') {
			display: inline-block;
			float: none;
		    position: relative;
			margin-left: 0;
		}
	}

	.left-align {
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
		text-align: center;
		// center images on mobile
		@include media('<medium') {
			display: block;
			float: none;
			margin-right: 0;
		}
	}

	.simple-border {
		display: inline-block;
		padding: 3px;
		border: solid 1px #ccc;
		
		// center images on mobile
		@include media('<medium') {
			display: block;
		}
	}

	table {
		width: 100%;
		text-align: left;
		border-bottom: solid 1px $hbc-border;
	    padding-bottom: 10px;
	    margin: 40px 0;

		thead {

			tr {

				th {
					vertical-align: top;
					padding: 10px;
				    background-color: $hbc-gray-5;
					border-bottom: solid 1px $hbc-border-2;
				    @include render-type-style(label-2, $type-styles);
					text-transform: uppercase;
				}
			}
		}

		tbody {
			tr {
				td {
					padding: 10px;
					vertical-align: top;
					@include render-type-style(base, $type-styles);
				}
			}
		}
	}
}
