// Typography
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Oswald:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Crete+Round');

$hbc-font-family: 'Oswald', sans-serif;;
$hbc-font-family-serif: 'Crimson Text', serif;
// $hbc-font-family: 'Poppins', sans-serif;
// $hbc-font-family-serif:  'Patua One', cursive;
@mixin italic-styles() {
	font-family: $hbc-font-family-serif;
	font-weight: 400i;
	font-style: italic;
}

* {
	font-weight: 300;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 140%;
	font-family: $hbc-font-family-serif, serif;
	font-weight: 500;
	color: $hbc-black;
}

p {
	font-family: $hbc-font-family-serif, sans-serif;
	line-height: 145%;
	font-weight: 300;
	font-size: 18px;
	color: $hbc-gray-3;

}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	font-weight: 500;
	color: $hbc-black;
}

p a, 
li a {
	line-height: 0;
	color: inherit;

	&:hover {
		color: $hbc-highlight;
	}
}

p ~ ul {
	margin-bottom: 40px;
	font-family: $hbc-font-family-serif;

	li {
		margin-bottom: 10px;
	}
}

code {
	font-size: inherit;
}

.highlight {
	code {
		line-height: 1.5;
		font-size: 18px;
	}
}

blockquote {
	font-style: italic;
	color: $hbc-gray;
	padding: 0px 20px 0 20px;
	margin: 0;

	&:first-of-type {
		margin: 20px 0 0 0;
		border-top: dotted 1px $hbc-border;
	}

	&:last-of-type {
		margin: 0 0 40px 0;
		border-bottom: dotted 1px $hbc-border;
	}
}

@mixin special-text-link() {
	transition: margin-bottom 150ms ease-out, padding-bottom 150ms ease-out, color 150ms ease-out;
	margin-bottom: 2px;
	padding-bottom: 0px;
	border-bottom: solid 1px $hbc-white;
	display: inline-block;
	text-decoration: none;
    line-height: 100%;

	&:hover {
		padding-bottom: 2px;
		margin-bottom: 0px;
		border-bottom: solid 1px $hbc-highlight;
		color: $hbc-highlight;
	}
}

// type styles

.page {

	&__header {
		font-weight: 400;
	}
}
