// Typography
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,500');
// @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
// @import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
// @import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i');
// @import url('https://fonts.googleapis.com/css?family=Fjalla+One');
// @import url('https://fonts.googleapis.com/css?family=Crete+Round');
// @import url('https://fonts.googleapis.com/css?family=Patua+One');
// @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
// @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');

$hbc-font-family-01: 'Crimson Text', sans-serif;
$hbc-font-family-02: 'Open Sans', sans-serif;

$type-styles: (
    base: (
        font-size: 18px,
        font-weight: 300,
        font-style: normal,
      	font-family: $hbc-font-family-02
  	),
    slug-1: (
        font-size: 16px,
        font-weight: 600,
        font-style: normal,
        text-transform: uppercase,
      	font-family: $hbc-font-family-01
  	),
    slug-2: (
        font-size: 16px,
        font-weight: 300,
        font-style: italic,
        text-transform: normal,
      	font-family: $hbc-font-family-01
  	),
    label-1: (
        font-size: 18px,
        font-weight: 400,
        font-style: normal,
        text-transform: normal,
      	font-family: $hbc-font-family-02
  	),
    label-2: (
        font-size: 16px,
        font-weight: 400,
        font-style: normal,
        text-transform: normal,
      	font-family: $hbc-font-family-01
  	),
    headline-1: (
        font-size: 62px,
        font-weight: 700,
        font-style: normal,
        text-transform: normal,
      	font-family: $hbc-font-family-01
  	),
    headline-2: (
        font-size: 42px,
        font-weight: 700,
        font-style: normal,
        text-transform: normal,
      	font-family: $hbc-font-family-01
  	),
    headline-3: (
        font-size: 32px,
        font-weight: 400,
        font-style: normal,
        text-transform: normal,
      	font-family: $hbc-font-family-02
  	),
    subhead-1: (
        font-size: 22px,
        font-weight: 700,
        font-style: normal,
        text-transform: normal,
      	font-family: $hbc-font-family-01
  	),
    subhead-2: (
        font-size: 18px,
        font-weight: 700,
        font-style: normal,
        text-transform: normal,
        font-family: $hbc-font-family-01
    ),
    subhead-3: (
        font-size: 16px,
        font-weight: 700,
        font-style: normal,
        text-transform: normal,
      	font-family: $hbc-font-family-02
  	)

);

// set text styles for the most common elements
* {
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 140%;
	font-family: $hbc-font-family-01;
	font-weight: 700;
	color: $hbc-gray-4;
}

strong {
	font-weight: 300;
	color: inherit;
}

p {
	line-height: 145%;
	color: $hbc-gray-3;
	@include render-type-style(base, $type-styles);
}

