---
layout: sub-page
---
<article class="page article">
    <section class="article__content">
        {% if page.categories.size > 0 %}
            {% for cat in site.category %}
                {% if cat.name == page.categories.first %}
                    {% assign featureCategory = cat.name %}
                {% endif %}
            {% endfor %}
        <div class="article-meta">
            {% if page.categories.first == featureCategory %}
            <a href="{{ site.url }}{{ site.baseurl }}/category/{{ featureCategory }}" class="article-meta__category">{{ featureCategory }}</a>
            {% else %}
            <a href="{{ site.url }}{{ site.baseurl }}/categories/#{{ page.categories }}" class="article-meta__category">{{ page.categories.first }}</a>
            {% endif %}
        {% endif %}
            <span class="article-meta__date">
                Published {{ page.date | date: "%-d %b %Y" | upcase }}
            </span>
        </div>
        <h1 class="article__content__title" title="{{ page.title }}">{{ page.title }}</h1>
        <div class="article__content__read-time">{% include read-time.html %}</div>
        <div class="article__content__share-buttons">{% include share-buttons.html %}</div>
        <div class="article__content__body">{{ content }}</div>
        <footer class="article__content__footer">
            {% include article-tags.html %}
            {% include author-bio.html %}
        </footer>
    </section>
    {% include recirc.html %}
</article>


<!-- {% if site.owner.disqus-shortname and page.comments == true %}
<div id="disqus_thread"></div>
{% include disqus.html %}
{% endif %}
 -->
