---
layout: default
---
<section class="inner-wrapper article-listing">
    {% for post in paginator.posts %}
    <article class="article">
        {% include article-snippet.html %}
        {% if post.excerpt %}
        <p class="article-excerpt">
            {{ post.excerpt | strip_html | truncatewords: 70 }}
        </p>
        {% endif %}
    </article>
    {% endfor %}

    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
    {% if paginator.previous_page %}
        <a rel="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <em>{{ page }}</em>
        {% elsif page == 1 %}
        <a href="{{ '/insights' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
        <a href="{{ '/insights/' | prepend: site.baseurl | replace: '//', '/' | append: page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      {% endif %}
    </div>
    {% endif %}
</section>
