.article {

	&__header {
		display: grid;
	    // grid-template-columns: 1fr;
		grid-template-columns: $content-side-margins minmax(auto, $content-width) $content-side-margins;
	    grid-template-rows: 1fr;
		margin: 0 ($content-side-margins*-1) 0 ($content-side-margins*-1);
		height: 450px;
		max-width: 100vw;
	    max-height: 40vh;
	    overflow: hidden;
	    @include background-gradient();
	    background-blend-mode: multiply;

	    .header-title {
		    grid-column: 2 / 2;
		    grid-row: 1 / 2;
			color: $hbc-white;
		    line-height: 110%;
		    margin: 10px 0 10px -2px;
			z-index: 1;
			align-self: end;
			@include render-type-style(headline-2, $type-styles);
	    }

		.hero-image {
		    grid-column: 1 / 2;
		    grid-row: 1 / 4;
	        align-self: center;
	        display: flex;
	        width: 100vw;
		    // position: relative;
		    // left: 50%;
		    // transform: translateX(-50%);
	     //    width: 100%;
	     //    min-height: 100%;
	     //    max-width: 2880px;
		    overflow: hidden;
		    opacity: 0.5;
        }

		.article-meta {
		    grid-column: 2 / 2;
		    grid-row: 3 / 4;
			align-self: end;
			margin-bottom: $content-side-margins;
			z-index: 1;

			&__category {
				background-color: $hbc-white;
				padding: 0 3px;
				margin-right: 5px;
				color: $hbc-highlight;
			    @include render-type-style(slug-1, $type-styles);
				// @include special-text-link();
				text-decoration: none;
				transition: color 150ms ease-out, background-color 150ms ease-out;

				&:hover {
					background-color: $hbc-highlight;
					color: $hbc-white;
				}

			}

			&__date {
				color: $hbc-white;
			    @include render-type-style(label-2, $type-styles);
			}
		}
	}

	&__content {
		max-width: $content-width;
		margin: auto;
		display: grid;
	    grid-auto-rows: minmax(20px, auto);
		grid-template-columns: 1fr;
	    grid-template-areas:
		    "read-time"
		    "body"
		    "share"
		    "footer"
		;
		align-items: start;
		position: relative;
        margin-bottom: 80px;

		&__read-time {
			grid-area: read-time;
			align-self: start;
			margin-top: 20px;
			color: $hbc-gray;

			.read-time__text-1,
			.read-time__text-2,
			.read-time__text-3 {
				display: inline-block;
				margin-bottom: 7px;
				@include render-type-style(slug-2, $type-styles);
			}
		}

		&__share-buttons {
			grid-area: share;
			align-self: start;
			position: relative;
			width: 100%;
			padding-top: 20px;
		    top: auto;

			.share-buttons {
				list-style-type: none;
				padding: 20px 0 0 0;
				margin: 0;
				width: 100%;

				&__link-item {
					padding: 0;
					margin: 0 0 0 10px;
					display: inline-block;
					float: left;
					opacity: 1;

					.hbc-svg-icon {
						fill: desaturate(lighten($hbc-highlight, 20%), 75%);
						transition: fill 200ms ease-out;
					}
				}
			}
		}

		&__body {
			grid-area: body;
		}

		&__footer {
		    grid-area: footer;
		    margin-top: 40px;

			.article-tags {
				padding: 0 0 20px 0;
				color: $hbc-gray-2;

				&__tag {
					font-style: italic;
					color: inherit;
				}
			}

			.author {

				&__name {
					@include render-type-style(label-1, $type-styles);
				}

				&__job-title {
					color: $hbc-gray;
					@include render-type-style(label-2, $type-styles);
				}

				&__bio {
					margin: 0;
				}
			}
		}
	}


	.recirc {
		margin: auto;
	}

	// small portrait
	@include media('>small', 'portrait') {

		&__content {

			&__share-buttons {
				position: relative;
			    top: auto;

				.share-buttons {
					background-color: #fff;				
					width: 100%;
					margin-left: -3px;

					&__link-item {
						margin: 0 0 0 10px;
						float: left;
						opacity: 1;
					}
				}
			}
		}
	}

	// medium
	@include media('>=medium') {

		&__header {
			grid-template-columns: minmax($content-side-margins-large, 1fr) minmax(auto, $content-width) minmax($content-side-margins-large, 1fr);
			margin: auto ($content-side-margins-large*-1) auto ($content-side-margins-large*-1);

		    .header-title {
				@include render-type-style(headline-1, $type-styles);
			}
		}

		
		&__content {
			grid-template-columns: 90px 1fr;
			grid-template-areas:
			"read-time body"
			"share body"
			". body"
			". footer";


			&__share-buttons {
				width: 100%;
				position: sticky;
				top: 60vh;

				.share-buttons {
					width: 36px;

					&__link-item {
						margin: 0 0 10px 0;
						float: none;
						opacity: 0;

						&:last-child {
						    margin-bottom: 0;
						}

						&:hover {
							.hbc-svg-icon {
								fill: $hbc-highlight;
							}
						}

						&--reveal {
					        animation-name: fade-in-and-up;
					        animation-duration: 200ms;
					        animation-delay: 0;
					        animation-timing-function: ease-out; 
					        animation-direction: normal;
					        animation-iteration-count: 1;
					        animation-fill-mode: forwards;
						}
					}
				}
			}

			&__read-time {
				.read-time__text-1,
				.read-time__text-2,
				.read-time__text-3 {
					display: block;
					margin-bottom: 0;
				}
			}
		}
	}

	// large
	@include media('>=large') {
		&__header {
			margin: auto;
		}
	}
}
