.article {

	&__content {
		display: grid;
	    grid-auto-rows: minmax(20px, auto);
		grid-template-columns: 20px 1fr;
	    grid-template-areas:
		    "meta meta"
		    "title title"
		    "read-time read-time"
		    "body body "
		    "share share"
		    "footer footer "
		;
		align-items: start;
		position: relative;
        padding: 0 0 80px 0;
		background-color: $hbc-white;

		.article-meta {
			grid-area: meta;

			&__category {
				text-transform: uppercase;
				text-decoration: none;
				color: $hbc-highlight;
			    font-size: 15px;
			    font-weight: 300;

				@include special-text-link();
			}

			&__date {
				color: $hbc-gray;

				&:before {
					display: inline-block;
					position: relative;
					content: "";
					height: 20px;
					top: 5px;
					border-right: solid 1px $hbc-border;
					margin-left: 10px;
					margin-right: 10px;
				}
			}
		}

		&__title {
			grid-area: title;
			font-size: 36px;
		    line-height: 110%;
		    margin: 10px 0 0 -3px;
		    pointer-events: none;
		    font-weight: 300;
		}

		&__read-time {
			grid-area: read-time;
			align-self: start;
			margin-top: 24px;
			font-size: 14px;
			color: $hbc-gray;

			.read-time__text-1,
			.read-time__text-2,
			.read-time__text-3 {
				display: inline-block;
				margin-bottom: 7px;
			}
		}

		&__share-buttons {
			grid-area: share;
			align-self: start;
			position: relative;
			width: 100%;
			padding-top: 20px;
		    top: auto;

			.share-buttons {
				list-style-type: none;
				padding: 20px 0 0 0;
				margin: 0;
				width: 100%;

				&__link-item {
					padding: 0;
					margin: 0 0 0 10px;
					display: inline-block;
					float: left;
					opacity: 1;

					.hbc-svg-icon {
						fill: desaturate(lighten($hbc-highlight, 20%), 75%);
						transition: fill 200ms ease-out;
					}
				}
			}
		}

		&__body {
			grid-area: body;
			font-size: 18px;
			color: $hbc-gray-3;
		}

		&__footer {
		    grid-area: footer;
		    margin-top: 40px;

			.article-tags {
				padding: 0 0 20px 0;
				color: $hbc-gray-2;

				&__tag {
					font-style: italic;
					color: inherit;
				}
			}

			.author {

				&__name {

				}

				&__job-title {
					color: $hbc-gray;
				}

				&__bio {
					margin: 0;
				}
			}
		}
	}

	// small portrait
	@include media('>small', 'portrait') {

		&__content {
			grid-template-columns: 5px 20px 1fr 5px;
		    grid-template-areas:
			    ". meta meta ."
			    ". title title ."
			    ". read-time read-time read-time"
			    ". body body . "
			    "share share share share"
			    "share share share share"
			    ". footer footer . "
			;

			&__share-buttons {
				position: relative;
			    top: auto;

				.share-buttons {
					background-color: #fff;				
					width: 100%;
					margin-left: -3px;

					&__link-item {
						margin: 0 0 0 10px;
						float: left;
						opacity: 1;
					}
				}
			}
		}
	}

	// medium
	@include media('>medium') {

		&__content {
			// grid-template-columns: 90px minmax(auto, ($content-width)-90px);
   //  		grid-template-areas:
   //  			"meta meta"
   //  			"title title"
   //  			"read-time body"
   //  			"share body"
   //  			"share body"
   //  			"share footer";
		   grid-template-columns: 40px 90px 1fr 40px;
		   grid-template-areas:
		   ". meta meta ."
		   ". title title ."
		   ". read-time body . "
		   ". share body . "
		   ". . body . "
		   ". . footer . ";

		    &__title {
				font-size: 62px;
			}

			&__share-buttons {
				width: 100%;
				position: sticky;
				top: 60vh;

				.share-buttons {
					width: 36px;

					&__link-item {
						margin: 0 0 10px 0;
						float: none;
						opacity: 0;

						&:hover {
							.hbc-svg-icon {
								fill: $hbc-highlight;
							}
						}

						&--reveal {
					        animation-name: fade-in-and-up;
					        animation-duration: 200ms;
					        animation-delay: 0;
					        animation-timing-function: ease-out; 
					        animation-direction: normal;
					        animation-iteration-count: 1;
					        animation-fill-mode: forwards;
						}
					}
				}
			}

			&__read-time {
				.read-time__text-1,
				.read-time__text-2,
				.read-time__text-3 {
					display: block;
					margin-bottom: 0;
				}
			}
		}
	}

	// xLarge Breakpoint
	@include media('>xlarge') {
		&__content {
			grid-template-columns: 1fr 90px 1000px 1fr;
			grid-template-areas:
		    ". meta meta ."
		    ". title title ."
		    ". read-time body . "
		    ". share body . "
		    ". share body . "
		    ". share footer . "
		    ;

		    &__body {
				grid-area: body;
				max-width: 1000px;
			}
		}
	}
}
