// posts by author page
.author-page {
	display: grid;
	grid-template-columns:  3fr 1.25fr;
	grid-auto-rows: minmax(50px, auto);
	grid-template-areas:
    "header header"
    "articles cats"
    "articles ."
    "recirc recirc"
	;

	.articles {
		border-right: solid 1px $hbc-border;
		margin-bottom: 80px;

		.snippet {
			display: flex;
			border-bottom: solid 1px $hbc-border;
			padding-right: 40px;
			padding-bottom: 40px; 
			margin-right: 40px;
			margin-bottom: 40px; 

			&__meta {
				order: 1;
				margin-bottom: 5px;
			}

			&__title {
				order: 2;
				margin-bottom: 0;
			}

			&__excerpt__link {
				order: 3;
			}

			&:last-child {
				border: 0;
			}
		}
	}

	.asides {
		grid-area: cats;
		padding-top: 28px;
		padding-left: 40px;

		.sticky-container {
			position: sticky;
			top: $sticky-header-offset;

			.featured-topics {
				margin-bottom: 0;

				&__list {
					border: 0;
				}
			}
		}
	}

	.recirc {
		grid-area: recirc;
		padding: 0;
	}

	@media screen and (max-width: $breakpoint-medium) {
		padding: 0 20px;
		grid-template-columns:  1fr;
		grid-template-areas:
	    "header"
	    "articles"
	    "cats"
	    "recirc"
	    ;

		.asides {
			padding-top: 28px;
			padding-left: 0;

			.sticky-container {
				position: relative;
				top: 0;
			}
		}

		.articles {
			border-right: 0;
			padding: 0;
		    margin-bottom: 0;

		    .snippet {
				padding-right: 0;
				margin-right: 0;
			}
		}
	}
}
