.careers-page {
	padding-bottom: 80px;
	text-align: center;

	&__header {
		display: grid;
	    grid-template-columns: 1fr;
	    grid-template-rows: 1fr;
		margin: 0 ($content-side-margins*-1) 0 ($content-side-margins*-1);
		height: 350px;
		max-width: 100vw;
	    max-height: 40vh;
	    overflow: hidden;
	    align-items: center;
	    @include background-gradient();
	    
		.careers-page__title {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            color: white;
            max-width: $content-width;
            z-index: 1;
            margin: auto;
            align-self: center;
		}

		.careers-page__hero-image {
		    grid-column: 1 / 2;
		    grid-row: 1 / 2;
		    position: relative;
		    left: 50%;
		    transform: translateX(-50%);
    	    // width: 100%;
    	    // min-width: 100vw;
		    max-height: 100%;
		    overflow: hidden;
		    opacity: 0.75;
		    mix-blend-mode: difference;
        }
	}

	&__intro {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		width: 90%;
		max-width: 800px;
		margin: 50px auto;
		animation-delay: 0.3s;

		&__text {
			@include render-type-style(big-copy, $type-styles);
			font-size: 18px;
		}
	}

	&__jobs {
        display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
		grid-gap: 20px;
		max-width: 940px;
		margin: auto;
		margin-bottom: 80px;
		animation-delay: 0.3s;

		.view-all-link {
		    display: inline-block;
		    grid-column: 1/3;
		    width: 100%;
			margin: 0 auto 20px auto;
			padding: 14px 35px;
			color: $hbc-white;
			background-color: $hbc-highlight;
			border: solid 1px $hbc-highlight;
			border-radius: 5px;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 15px;
			font-weight: 600;
			transition: color 150ms ease-out, border 150ms ease-out, background-color 150ms ease-out;

			&:hover {
				border-color: $hbc-highlight;
				background-color: $hbc-white;
				color: $hbc-highlight;
			}
		}

		.view-all-copy {
			font-size: 17px;
			grid-column: 1/3;

			.application-link {
				color: $hbc-black;
				@include special-text-link();
				border-color: $hbc-gray;
			}
		}
	}

	&__perks {
		max-width: 90vw;
		margin: auto;
		justify-self: center;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: minmax(40px, 1fr);
		grid-gap: 20px;


		&__title {
			margin: 40px auto 70px auto;
		    width: 100%;
			grid-column: 1 / 3;
			@include render-type-style(subhead-1, $type-styles);
			text-transform: uppercase;
		}

		.perk {
			justify-self: center;

			&__icon {
				margin: auto;
				border-radius: 50%;
			    width: 100px;
			    height: 100px;
			}

			&__label {
				margin: 20px auto;
				padding-bottom: 20px;
				color: $hbc-gray;
				@include render-type-style(label-1, $type-styles);
		        font-size: 16px;
			}
		}
	}

	&__tech-stack {
		max-width: 800px;
		margin: 40px auto 200px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
	    align-items: center;
        justify-content: justify;

		&__title {
			margin: 40px auto 20px auto;
		    width: 100%;
			@include render-type-style(subhead-1, $type-styles);
			text-transform: uppercase;
		}

		.tech-lang {
			padding: 8px 12px;
		    margin: 12px 10px;
			border-radius: 5px;
			border: solid 1px $hbc-border;
			text-transform: uppercase;
		}

	}

	// small landscape
	@include media('>=small', 'landscape') {
		&__header {
		    max-height: 70vh;

			.careers-page__hero-image {
			    max-height: unset;
			    max-width: 100%;
			}
		}
	}

	// medium
	@include media('>=medium') {
		&__header {
		    max-height: 60vh;
			margin: 0 ($content-side-margins-large*-1) 0 ($content-side-margins-large*-1);

			.careers-page__hero-image {
			    max-height: unset;
			    max-width: 100%;
			}
		}

		&__intro {
			margin: 100px auto 50px auto;

			&__text {
				font-size: 25px;
			}
		}

		&__jobs {
	        display: grid;
			grid-template-columns: auto;
			grid-template-rows: auto;
			grid-auto-rows: unset;
			max-width: 940px;

			.view-all-link {
			    grid-column: auto;
			    width: auto;

			    &:first-child {
					margin-right: 0;
				}

				&:last-of-type {
					margin-left: 0;
				}
			}
		}


		&__perks {
			grid-template-columns: 1fr 1fr;
			margin-bottom: 80px;

			.perk {
				max-width: 50%;
			}

			&__title {
				grid-column: 1 / 3;
			}
		}
	}

	// large
	@include media('>=large') {
		&__header {
			margin: auto;

            .careers-page__title {
                margin: 40px 0;
                justify-self: center;
                align-self: flex-end;
                width: $content-width;
                @include render-type-style(headline-1, $type-styles);
            }
		}

		// reveal animations		
		&__header,
		&__intro ,
		&__jobs {
			top: 200px;
			position: relative;
			opacity: 0;

			&--reveal {
				animation-name: reveal-article;
				animation-duration: 0.6s;
				animation-timing-function: cubic-bezier(0.000, 0.980, 0.655, 0.995); 
				animation-direction: normal;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;
			}
		}
	}
}
