.categories-page {
	display: grid;
	grid-template-columns: 25% 75%;
	grid-auto-rows: minmax(50px, auto);
	grid-template-areas:
    "header header"
    "cats arts"
    "cats arts"
	;

	.asides {
		grid-area: cats;
		padding-right: 40px;

		.sticky-container {
			position: sticky;
			top: 40px;
		}
	}

	.articles {
		grid-area: arts;
		border-left: solid 1px $hbc-border;
		padding: 0 0 80px 40px;
	}
	
	.categories__list,
	.articles__list {
		list-style-type: none;
		padding: 0;
		margin-bottom: 40px;
		text-indent: none;
	}

	.categories,
	.articles {
		&__list-item {
			padding: 0;
			margin-bottom: 10px;
		}

		&__list-item__link {
		    color: $hbc-black;
			@include special-text-link();
			line-height: 140%;
		}

		&__list-header {
			text-transform: capitalize;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	@media screen and (max-width: $breakpoint-medium) {
		grid-template-columns:  1fr;
		grid-template-areas:
	    "header"
	    "arts"
	    "cats"
	    ;

		.asides {
			padding-top: 28px;
			padding-left: 0;

			.sticky-container {
				position: relative;
				top: 0;
			}
		}

		.articles {
			border-right: 0;
			padding: 0;
		}

		.snippet {
			padding: 20px 0;
		    margin-bottom: 20px;
		    border-bottom: solid 1px $hbc-border;

		    &:first-child {
				padding-top: 40px;
			    border-top: solid 1px $hbc-border;
		    }

			&:first-child,
			&:last-child {
			    border-right: 0;
			    margin-left: 0px;
			    margin-top: 0px;
			    padding-left: 0px;
			}
		}


	}
}
