// for featured categories
.category-page {
	display: grid;
	grid-template-columns: 75% 25%;
	grid-auto-rows: minmax(50px, auto);
	grid-template-areas:
    "header header"
    "articles cats"
    "articles ."
    "recirc recirc"
	;
	margin: auto;
	
	.articles {
		border-right: solid 1px $hbc-border;
		margin-bottom: 80px;

		.snippet {
			border-bottom: solid 1px $hbc-border;
			padding-right: 40px;
			padding-bottom: 40px; 
			margin-right: 40px;
			margin-bottom: 40px; 

			&__meta {
				order: 1;
				margin-bottom: 5px;

				.slug-divider {
					display: none;
				}
			}

			&__title {
				order: 2;
				margin-bottom: 0;
			}

			&__excerpt__link {
			    order: 3;
			}

			&:last-child {
				border: 0;
			}
		}
	}

	.asides {
		grid-area: cats;
		padding-top: 28px;
		padding-left: 40px;

		.sticky-container {
			position: sticky;
			top: 100px;

			.featured-topics {
				margin-bottom: 0;

				&__list {
					border: 0;
				}
			}
		}
	}

	.recirc {
		grid-area: recirc;
		padding: 0;
	}

	// mobile landscape and tablet 
	@media screen and (max-width: $breakpoint-medium) {
		grid-template-columns:  1fr;
		grid-template-areas:
	    "header"
	    "articles"
	    "cats"
	    "recirc"
	    ;

		.asides {
			padding-top: 28px;
			padding-left: 0;

			.sticky-container {
				position: relative;
				top: 0;
			}
		}

		.articles {
			border-right: 0;
			padding: 0;
		    margin-bottom: 0;

			.snippet {
				padding-right: 0;
				margin-right: 0;
			}
		}
	}

	// mobile portrait
	@media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
		grid-template-columns:  1fr;
		grid-template-areas:
	    "header"
	    "articles"
	    "recirc"
	    "cats"
	    ;

	    .articles {
			.snippet {
				padding-right: 0;
				margin-right: 0;
			}
	    }
	}
}
