.code-page {
    padding-bottom: 80px;

    &__header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin: 0 ($content-side-margins*-1) 0 ($content-side-margins*-1);
        height: 350px;
        max-width: 100vw;
        max-height: 40vh;
        overflow: hidden;
        @include background-gradient();
        
        .code-page__title {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            text-transform: uppercase;
            color: white;
            max-width: $content-width;
            z-index: 1;
            margin: auto;
            align-self: center;
        }

        .code-page__hero-image {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            // width: 100%;
            // min-width: 100vw;
            max-width: 100%;
            overflow: hidden;
            opacity: 0.5;
            align-self: center;
        }
    }

    &__projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: $content-width;
        margin: 80px auto 40px auto;

        .gilt-api,
        .styleguide {
            display: flex;
            width: 100%;
            height: 230px;
            margin-bottom: 40px;
            max-height: calc(90vw - 20px);
            border: solid 1px $hbc-border;

            &:hover {
                background-color: #f5f5f5;
            }

            &__logo {
                max-height: 40%;
                margin: auto;
            }
        }
    }

    &__repos {
        max-width: $content-width;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(50px, auto);
        grid-gap: 20px;

        .repos-title {
            margin: 0;
            align-self: flex-end;
            @include render-type-style(subhead-1, $type-styles);
        }

        .repo-row {
            display: flex;
            flex-direction: column;
        }   
    }


    // small landscape
    @include media('>=small', 'landscape') {
        &__header {
            max-height: 70vh;
        }
    }

    // medium
    @include media('>=medium') {
        &__header {
            max-height: 60vh;
            margin: 0 ($content-side-margins-large*-1) 0 ($content-side-margins-large*-1);
        }

        &__projects {
            .gilt-api {
                height: 330px;
                margin-right: 20px;
                width: calc(100%/2 - 20px)
            }
            .styleguide {
                height: 330px;
                margin-left: 20px;
                width: calc(100%/2 - 20px)
            }
        }

        &__repos {
            grid-template-columns: repeat(3, 1fr);

            .repos-title {
                grid-column: 1/4;
            }
        }
    }

    // large
    @include media('>=large') {
        &__header {
            margin: auto;

            .code-page__title {
                margin: 40px 0;
                justify-self: center;
                align-self: flex-end;
                width: $content-width;
                @include render-type-style(headline-1, $type-styles);
            }
        }

        // reveal animations
        .styleguide,
        .gilt-api {
            top: 200px;
        }
        
        .styleguide {
            animation-delay: 0.2s;
        }
        
        &__header,
        .styleguide,
        .gilt-api {
            position: relative;
            opacity: 0;

            &--reveal {
                animation-name: reveal-article;
                animation-duration: 0.6s;
                animation-timing-function: cubic-bezier(0.000, 0.980, 0.655, 0.995); 
                animation-direction: normal;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }
        }
    }

    // // // // // // // // // // // // // // // // // // // // // // // // // // // // // 
    // old styles from code.gilt.com repo

    /* hide bootstrap icons (not the best solution) */
    [class^="icon-"], [class*=" icon-"] {
        background:none;
    }

    #header {
        margin-top: 20px;
        margin-bottom: 40px;
        display: block;
        overflow: visible;
    }

    #footer {
        margin-top: 80px;
        margin-bottom: 20px;
        display: block;
        overflow: visible;
    }

    #header a,
    #footer a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: poppins, helvetica, serif;
        font-size: 12px;
        color: #888;
    }

    @media (min-width: 321px) {
        #footer a {
            margin: 0 15px;
        }
    }

    #header a:hover {
        color: #888;
    }

    #header a:active {
        position: relative;
        outline: none;
        top: 1px;
        color: #888;
    }

    .title {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 70px;
    }

    .title a {
        border-bottom: none;
    }

    .title img {
        max-width: 100%;
    }

    .description { 
        font-size: 16px;
        line-height: 20px;
        margin-top: 20px;
    }

    .links {
        margin-top: 0px;
        text-align: center;
        float: none;
    }

    #header .links {
        border-bottom: 1px solid rgba(136, 136, 136, 0.4);
    }

    #footer .links {
        border-top: 1px solid rgba(136, 136, 136, 0.4);
    }

    .links ul {
        margin-top: 10px;
        padding: 0;
        display: block; 
        text-align: center;
        float: none;
    }

    .links li {
        display: inline;
        margin-left: 10px;
        text-transform: none; 
    }

    .links li:first-child {
        margin-left: 0px; 
    }

    /* ENG Gilt Tech Common Header Style */

    #loading {
    }

    .networkError {
        color: red;
        font-weight: bold;
    }

    #fallback {
        text-align: center;
    }

    #fallback > a {
        margin: 10px 0 0;
    }

    .repo {
        position: relative;
        height: 125px;
        margin: 14px 0 0 0;
        padding: 2px 10px 10px;
        border: solid 1px $hbc-border;
    }

    .repo:hover {
        background-color: #f5f5f5;
    }

    .repo > a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: inherit;
    }

    .name {
        margin: 0;
    }

    .description {
        width: 100%;
        height: 2.5em;
        color: #777;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .lang {
        position: absolute;
        top: -1px;
        right: -1px;
        padding: 2px 5px;
        font-size: 12px;
        color: #fff;
        border: solid 1px $hbc-border;
        border-radius: 0;
    }

    .count {
        color: #777;
        padding-right: 10px;
        margin-left: 5px;
    }

    .hidden {
        display: none;
    }

    /* programming language colors */
    /* https://github.com/doda/github-language-colors */
    .arduino { background-color: #bd79d1; }
    .java { background-color: #b07219; }
    .vhdl { background-color: #543978; }
    .scala { background-color: #7dd3b0; }
    .delphi { background-color: #b0ce4e; }
    .ada { background-color: #02f88c; }
    .viml { background-color: #199c4b; }
    .perl { background-color: #0298c3; }
    .lua { background-color: #fa1fa1; }
    .rebol { background-color: #358a5b; }
    .verilog { background-color: #848bf3; }
    .factor { background-color: #636746; }
    .ioke { background-color: #078193; }
    .r { background-color: #198ce7; }
    .erlang { background-color: #949e0e; }
    .nu { background-color: #c9df40; }
    .autohotkey { background-color: #6594b9; }
    .clojure { background-color: #db5855; }
    .shell { background-color: #5861ce; }
    .assembly { background-color: #a67219; }
    .parrot { background-color: #f3ca0a; }
    .turing { background-color: #45f715; }
    .applescript { background-color: #3581ba; }
    .eiffel { background-color: #946d57; }
    .lisp { background-color: #3fb68b; }
    .dart { background-color: #cccccc; }
    .supercollider { background-color: #46390b; }
    .coffeescript { background-color: #244776; }
    .xquery { background-color: #2700e2; }
    .haskell { background-color: #29b544; }
    .racket { background-color: #ae17ff; }
    .elixir { background-color: #6e4a7e; }
    .haxe { background-color: #346d51; }
    .ruby { background-color: #701516; }
    .self { background-color: #0579aa; }
    .fantom { background-color: #dbded5; }
    .groovy { background-color: #e69f56; }
    .c { background-color: #555; }
    .javascript { background-color: #4474d4; }
    .d { background-color: #fcd46d; }
    .ooc { background-color: #b0b77e; }
    /*.c++ { background-color: #f34b7d; }*/
    .dylan { background-color: #3ebc27; }
    .nimrod { background-color: #37775b; }
    .objective-c { background-color: #ff7501; }
    .nemerle { background-color: #0d3c6e; }
    .mirah { background-color: #c7a938; }
    .boo { background-color: #d4bec1; }
    .objective-j { background-color: #ff0c5a; }
    .rust { background-color: #dea584; }
    .prolog { background-color: #74283c; }
    .ecl { background-color: #8a1267; }
    .gosu { background-color: #82937f; }
    .fortran { background-color: #4d41b1; }
    .coldfusion { background-color: #ed2cd6; }
    .ocaml { background-color: #3be133; }
    .fancy { background-color: #7b9db4; }
    .python { background-color: #3581ba; }
    .tcl { background-color: #e4cc98; }
    .arc { background-color: #ca2afe; }
    .puppet { background-color: #cc5555; }
    .io { background-color: #a9188d; }
    .max { background-color: #ce279c; }
    .go { background-color: #8d04eb; }
    .asp { background-color: #6a40fd; }
    .php { background-color: #6e03c1; }
    .scheme { background-color: #1e4aec; }
    .vala { background-color: #3581ba; }
    .smalltalk { background-color: #596706; }
    // we were missing a few class definitions so...
    .swift { background-color: $hbc-yellow; }
    .css { background-color: $hbc-green; }

    .icon-code-fork:before {
            content: '';
            display: inline-block;
            margin-top: 3px;
            width: 14px;
            height: 14px;
            background-image: url("https://saksdirect.github.io/hbc-tech-blog/assets/images/repo-fork.svg");
    }

    .icon-star:before {
            content: '';
            display: inline-block;
            margin-top: 3px;
            width: 14px;
            height: 14px;
            background-image: url("https://saksdirect.github.io/hbc-tech-blog/assets/images/repo-star.svg");
            opacity: 0.5;
    }
}
