.homepage {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	animation-name: fade-in;
    animation-duration: 250ms;
    animation-delay: 150ms;
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

	.site-header {

		&__logo {

			&:hover {

				.hbc-stripes-logo {
				    width: 100px;
				    transition: width 100ms ease-out;
				}
			}
		}

		.hbc-stripes-logo {
			width: 30px;

			.hbc-stripe {

				&--green {
					fill: $hbc-green;
				}

				&--red {
					fill: $hbc-red;
				}

				&--yellow {
					fill: $hbc-yellow;
				}

				&--blue {
					fill: $hbc-blue;
				}
			}
		}
	}

	.footer {
		border: 0;

		.copyright {
		    height: 20px;
		    display: flex;
		    align-self: flex-end;
		    margin-bottom: 0;
		    opacity: 0.8;
		}

		& > .footer__links {

			.social-links {
			    display: inline-flex;
			    align-self: flex-end;
			    position: relative;
			    top: 40px;
			    z-index: 100;

				&__icon {
				    opacity: 0.4;

				    &:hover {
				    	opacity: 1;
				    }
				}
			}

			.navigation {
				display: none;
				visibility: invisible;
			}			
		} 

		.hbc-tech-logo,
		.est1670 {
			display: none;
			visibility: invisible;
		}
	}

	.hbc-monogram {
		fill-opacity: 0.9;
	    fill: $hbc-border;
	    height: 60vh;
	    width: 60vw;
	    position: relative;
	    left: 50%;
	    top: -45vh;
	    transform: translateY(45vh) translateX(-50%);
	    transform-origin: 50% 50%;
	}
}

@media screen and (max-width: $breakpoint-medium) {
	.homepage {
	    .site-header {

			&__logo {
				margin: 0px auto;
				width: 30px;
			}
		}

		.footer {
			padding-bottom: 20px;

			.copyright {
				display: block;
			    margin: 0px;
			}

			& > 
			.footer__links {

				.social-links {
					top: 0;
				    margin: 0px;
			        margin-bottom: 20px;
				}

				.navigation {
					display: none;
					visibility: invisible;
				}
			}

			.hbc-tech-logo,
			.est1670 {
				display: none;
				visibility: invisible; 
			}
		}
	}
}
