// insights page
.article-listing {

	&__featured {
		margin: auto;

		.snippet {
			display: grid;
			grid-area: featured;
			grid-template-columns: $content-side-margins minmax(auto, $content-width) $content-side-margins;
			grid-template-rows: 1fr;
			margin: 0 ($content-side-margins*-1) 0 ($content-side-margins*-1);
		    // min-height: 400px;
			max-width: 100vw;
		    max-height: 450px;
		    overflow: hidden;

			&__feature-image__link {
				position: relative;
				display: flex;
				grid-column: 1 / 4;
			    grid-row: 1 / 5;
			    overflow: hidden;
			    background-color: black;

			    &:after {
			    	content: "";
			    	position: absolute;
			    	height: 100%;
			    	width: 100%;
			    	background: linear-gradient(rgba(0,0,0,0.2) 83%, rgba(0,0,0,0.7) 100%);
			    }
			}

		    &__feature-image {
			    width: 100%;
		        align-self: center;
	            transition: transform 400ms cubic-bezier(0.2, 1, 1, 1);
			}

			&__title {
				grid-column: 2 / 3;
			    grid-row: 3 / 4;
				margin: 0;
				@include render-type-style(headline-2, $type-styles);
			    z-index: 1;

				&__link {
					color: $hbc-white;
					text-shadow: 0 2px 5px rgba($hbc-black, 0.5);
					// padding: 0 10px 0 10px;
				    // box-decoration-break: clone;
				    // background-color: white;
					text-decoration: none;
				
					&:hover {
						color: $hbc-highlight;
					}
				}
			}

			&__meta {
				grid-column: 2 / 3;
			    grid-row: 4 / 4;
			    margin-bottom: 40px;
			 //    padding: 0 10px 0 10px;
			 //    width: fit-content;
				// background-color: $hbc-white;
				z-index: 1;
				color: white;

				.meta__category-link {
					background-color: $hbc-white;
					padding: 0 3px;
					margin-right: 5px;
					color: $hbc-highlight;
				    @include render-type-style(slug-1, $type-styles);
					text-decoration: none;
					transition: color 150ms ease-out, background-color 150ms ease-out;
					border: 1px;

					&:hover {
						background-color: $hbc-highlight;
						color: $hbc-white;
						border: 0;
					}
				}

				.slug-divider:after {
					border-color: rgba($hbc-white, 0.5);
				}
			}

			&--reveal {
				top: 0;
			}
		}
	}

	&__sub-featured,
	&__remaining {
		display: grid;
		max-width: $content-width;
		margin: auto;
	    margin-top: 40px;
	    border-top: solid 1px $hbc-border;

		.snippet {
			padding: 40px 0 40px 0;
		    border-bottom: solid 1px $hbc-border;

		    &:last-child {
		    	border-bottom: 0;
		    	padding-bottom: 0;
		    }
		}
	}

	&__sub-featured {
		grid-area: sub-featured;
	}

	&__remaining  {
		grid-area: remaining;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, minmax(100px, auto));
	    grid-template-areas:
	    "art"
	    "pg"
	    "ft";

		.asides {
			grid-area: ft;
		}

		&--sub-page {
			margin-top: 0;
			border: 0;
			padding-top: 0;

			.articles {

				.snippet:first-child {
					padding-top: 0;
				}
			}
		}
	}

	// small landscape
	@include media('>=small', '<medium', 'landscape') {
	    &__featured {

	    	.snippet {
			    max-height: 80vh;
			    
				.snippet__title {
					@include render-type-style(headline-2, $type-styles);
				}
	    	}

	    }

		&__sub-featured {

			.snippet {
				
				&:last-child {
				    border-bottom: 0;
				}
			}
		}
	}

	// medium
	@include media('>=medium') {

		&__featured {
			
			.snippet {
				grid-template-columns: minmax($content-side-margins-large, 1fr) minmax(auto, $content-width) minmax($content-side-margins-large, 1fr);
				margin: auto ($content-side-margins-large*-1) auto ($content-side-margins-large*-1);

				.snippet__title {
					@include render-type-style(headline-1, $type-styles);
				}
			}
		}
	}

	@include media('>=medium', 'landscape') {

		&__remaining {
			padding-top: $content-side-margins-large*2;
			grid-template-columns: minmax(auto, 25%) minmax(auto, 75%);
			grid-auto-rows: minmax(50px, auto);
		    grid-template-areas:
		    "ft art"
		    ". pg";

		    .snippet {
				grid-row: auto;
				padding: 0 0 0 40px;
				margin-bottom: 0px;
				border-left: solid 1px $hbc-border;
				border-bottom: 0;
				
				&__title {
					border-top: solid 1px $hbc-border;
					margin-top: 40px;
					padding-top: 40px;
					width: 100%;
				}

				&:first-of-type {
					padding-top: 0;

					.snippet__title {
						padding-top: 0;
						margin-top: 0;
						border: 0;
					}
				}
			}

			.asides {
				margin-right: 40px;

				.featured-topics {
					position: sticky;
					top: 40px;
				}
			}

			&--sub-page {
				padding-top: 0;
			}
		}
	}

	// large
	@include media('>=large') {

		&__featured {
        
	        &:hover {
	        	.snippet__feature-image {
	        		transform: scale(1.01);
	        	}
	        }

			.snippet {
				margin: auto;
				.snippet__title {
					@include render-type-style(headline-1, $type-styles);
				}
			}
	    }

		&__sub-featured {
			grid-template-columns: repeat(2, 50%);
		    border-top: 0;
			margin: 60px auto;

			.snippet {
				padding: 0;
			    border: 0;

				&:first-child {
					grid-column: 1 / 2;
					border-right: solid 1px $hbc-border;
					padding-right: 40px;
				}	

				&:last-child {
					grid-column: 2 / 3;
					padding-left: 40px;
				}
			}
		}

		&__remaining {

			.asides {

				.featured-topics {
					top: $sticky-header-offset;
				}
			}
		}
	}


	@include media('>large') {

		&__featured {

			.snippet {

				&__title {
					opacity: 0;
					animation-name: fade-in-and-up;
					animation-duration: 0.6s;
					animation-timing-function: cubic-bezier(0.000, 0.980, 0.655, 0.995); 
					animation-direction: normal;
					animation-iteration-count: 1;
					animation-fill-mode: forwards;
				}

				&__meta {
					opacity: 0;
					animation-name: fade-in-and-up;
					animation-duration: 0.4s;
					animation-delay: 0.2s;
					animation-timing-function: cubic-bezier(0.000, 0.980, 0.655, 0.995); 
					animation-direction: normal;
					animation-iteration-count: 1;
					animation-fill-mode: forwards;
				}
			}
		}

		&__remaining {

			&--sub-page {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}

