// insights page
.article-listing {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content;
	grid-template-areas: "featured" "sub-featured" "remaining";
	margin: auto;
	max-width: $content-width;

	&__featured {
		display: grid;
		grid-area: featured;
		grid-template-columns: $content-side-margins minmax(auto, $content-width) $content-side-margins;
		grid-template-rows: repeat(4, 1fr);
	    margin: auto;
		margin: 0 ($content-side-margins*-1) 0 ($content-side-margins*-1);
	    max-height: 60vh;
	    overflow: hidden;

		// these are overrides. defaults are set in _article-snippet.scss
		.feature-image__link {
		    display: flex;
			grid-column: 1 / 4;
		    grid-row: 1 / 10;
		    overflow: hidden;
		}

		.feature-image {
		    width: 100%;
	        align-self: center;
		}

		.snippet__title {
			grid-column: 2 / 3;
		    grid-row: 5/6;
			margin: 0 0 30px 0;
			font-size: 32px;
		}

		.snippet__link {
			padding: 0 10px 0 10px;
		    box-decoration-break: clone;
		    background-color: white;
			@include headline-styles(anchor);
		}


		.snippet__meta {
			grid-column: 2 / 3;
		    grid-row: flex-end / flex-end;

		    padding: 0 10px;
		    width: fit-content;
			background-color: $hbc-white;
		}
	}

	&__sub-featured,
	&__remaining {
		display: grid;
	    margin-top: 40px;
	    border-top: solid 1px $hbc-border;

		.snippet {
			padding: 40px 0 40px 0;
		    border-bottom: solid 1px $hbc-border;

		    &:last-child {
		    	border-bottom: 0;
		    	padding-bottom: 0;
		    }
		}
	}

	&__sub-featured {
		grid-area: sub-featured;
	}

	&__remaining  {
		grid-area: remaining;
		grid-template-columns: 1fr;
		grid-auto-rows: repeat(12, minmax(100px, auto));
	    grid-template-areas:
	    "art"
	    "pg"
	    "ft";

		.asides {
			grid-area: ft;
		}

		&--sub-page {
			margin-top: 0;
			border: 0;
			padding-top: 0;

			.articles {

				.snippet:first-child {
					padding-top: 0;
				}
			}
		}
	}

	// small landscape
	@include media('>=small', '<medium', 'landscape') {
	    &__featured {
	    	max-height: 80vh;

			.snippet__title {
				font-size: 38px;
			}
	    }

		&__sub-featured {

			.snippet {
				
				&:last-child {
				    border-bottom: 0;
				}
			}
		}
	}

	// medium
	@include media('>=medium') {

		&__featured {
			grid-template-columns: $content-side-margins-large minmax(auto, $content-width) $content-side-margins-large;
			margin: 0 ($content-side-margins-large*-1) 0 ($content-side-margins-large*-1);

			.snippet__title {
				font-size: 48px;
			}
		}
	}

	@include media('>=medium', 'landscape') {

		&__featured {
	    	max-height: 80vh;
	    }

		&__remaining {
			padding-top: $content-side-margins-large*2;
			max-width: $content-width;
			grid-template-columns: minmax(auto, 25%) minmax(auto, 75%);
			grid-auto-rows: minmax(50px, auto);
		    grid-template-areas:
		    "ft art"
		    ". pg";

		    .snippet {
				grid-row: auto;
				padding: 0 0 0 40px;
				border-left: solid 1px $hbc-border;
				border-bottom: 0;
				margin-bottom: 0px;
				
				&__title {
					border-top: solid 1px $hbc-border;
					margin-top: 40px;
					padding-top: 40px;
					width: 100%;
				}

				&:first-of-type {
					padding-top: 0;

					.snippet__title {
						padding-top: 0;
						margin-top: 0;
						border: 0;
					}
				}
			}

			.asides {
				margin-right: 40px;

				.featured-topics {
					position: sticky;
					top: 40px;
				}
			}

			&--sub-page {
				padding-top: 0;
			}
		}
	}

	// large
	@include media('>=large') {

		&__featured {
	    	max-height: 600px;

			.snippet__title {
				font-size: 58px;
			}
	    }

		&__sub-featured {
			grid-template-columns: repeat(2, 50%);
		    border-top: 0;
			margin: 60px auto;
			max-width: $content-width;

			.snippet {
				padding: 0;
			    border: 0;

				&:first-child {
					grid-column: 1 / 2;
					border-right: solid 1px $hbc-border;
					padding-right: 40px;
				}	

				&:last-child {
					grid-column: 2 / 3;
					padding-left: 40px;
				}
			}
		}

		&__remaining {

			.asides {

				.featured-topics {
					top: $sticky-header-offset;
				}
			}
		}
	}


	@include media('>large') {
		
		&__featured {
			margin: auto;
		}

		&__sub-featured {
			padding: 0 $content-side-margins-large;
		}

		&__remaining {
			padding-left: $content-side-margins-large;
			padding-right: $content-side-margins-large;

			&--sub-page {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}

